/*  배경 : #b2c7da
    내 말풍선 : #ffeb34 
    글씨 색 : 
        #191919 시간 : #596673
    방문 알림, 시간 알림 : #9bafbe
    채팅창 : #ffffff
    채팅창 아이콘 : #90949d
   */
   /* font-variation-settings:'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 48 */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.header{
    width : 100%;
    height : 60px;
    top : 0px;
    border-bottom : 2px solid #9bafbe;
    display : flex;
    justify-content: space-between;
    align-items: center;
    position : fixed;
    background-color: #b2c7da;
    color : #191919;
}

.header-left{
    margin-left:10px;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color : #191919;
}

.sublogo{
    display : flex;
    font-size: 10px;
    color : #596673;
    display : flex;
    align-items: center;
}

.header-right{
    display : flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right : 10px;
    align-items: center;
}

.header-icon{
    /* font-size: 30px; */
    display : flex;
    align-items: center;
}

.chat-input{
    height : 50px;
    width : 100%;
    background-color : #ffffff;
    position : fixed;
    bottom : 0;
    display : flex;
    justify-content: space-between;
    align-items: center;
}

.chat-left{
    width : 50px;
    height : 50px;
    /* background-color: #ffeb34; */
    display : flex;
    align-items: center;
    justify-content: center;
}

.hint-icon{
    display : flex;
    align-items: center;
}

.chat-right{
    width : 50px;
    height : 50px;
    background-color: #ffeb34;
    display : flex;
    align-items: center;
    justify-content: center;
}

.send-icon{
    display : flex;
    align-items: center;
}

.text-input{
    width : calc(100vw - 100px);
    height : 50px;
    font-size : 15px;
    padding : 0;
    font-size : 20px;
    border : 0px;
}

.text-input:focus{
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    margin-right : 10px;
    height: 20px;
    width: 20px;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: .3;
    pointer-events: all;
}
  
.chat-window{
    position: fixed;
    padding-bottom: 10px;
    top : 60px;
    width : 100%;
    height : calc(100% - 120px);
    background-color : #b2c7da;
    overflow: auto;
}

.computer-chat{
    display : grid;
    width : 100%;
    height : auto;
    grid-template-columns: 60px calc(100% - 60px);
    grid-template-rows: 20px auto;
    margin-top : 7px;
}


.computer-chat-simple{
    display : grid;
    width : 100%;
    height : auto;
    grid-template-columns: 60px calc(100% - 60px);
    
    margin-top : 7px;
}

.icon-wrap{
    grid-row: 1 / span 2;
    grid-column: 1;
    display : flex;
    align-items: flex-start;
    justify-content: center;


    
}
.icon {
    width : 40px;
    height: 40px;
    border-radius: 40%;
    background-color: #ffffff;
    background-image: url("ggeugle_logo_small.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.nickname{
    grid-row: 1;
    grid-column: 2;
    font-size: 12px;
}

.content{
    grid-row: 2;
    grid-column: 2;
}

.talkbubble {
    padding : 4px 8px;
    font-size : 15px;

    display:inline-block;
    max-width: calc(100vw - 100px);
    
    background: #ffffff;
    position: relative;
    -moz-border-radius: 0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;


}

.my-chat{
    display : flex;
    width : 100%;
    height : auto;
    margin-top : 7px;
    justify-content: flex-end;
}

.my-talkbubble{
    margin-right : 12px;
    padding : 4px 8px;
    font-size : 15px;
    display:inline-block;
    max-width: calc(100vw - 83px);
    
    background: #ffeb34;
    position: relative;
    -moz-border-radius: 10px 0 10px 10px;
    -webkit-border-radius: 10px 0 10px 10px;
    border-radius: 10px 0 10px 10px;
}